services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PHP_VERSION: ${PHP_VERSION:-8.3}
        COMPOSER_VERSION: ${COMPOSER_VERSION:-2.7.9}
    container_name: phpstan-laravel-app
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      - DB_CONNECTION=sqlite
      - DB_DATABASE=/app/laravel/database/database.sqlite
    networks:
      - app-network
    expose:
      - "9000"

  nginx:
    image: nginx:alpine
    container_name: phpstan-laravel-nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/app
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
